<%- include('./partials/header.ejs') %>
<div class="spacer"></div>
  <form method="POST" action="/create">
    <div class="form-row">
      <div class="col-md-10">
      <input
        type="text"
        name="title"
        class="form-control"
        id="taskTitle"
        required
        placeholder="Insert task"
      />
    </div>
    <div class="col-md-2 text-center">
    <button type="submit" class="btn btn-lg btn-primary">Create</button>
  </div>
  </div>
  </form>
<div class="spacer"></div>
<hr>
<% if(tasks.length){ %> <% tasks.forEach((task) =>{ %>
  <div class="row"  data-id="<%=task._id%>">
  <div class="col-10">
    <p class="gray"><%= moment(task.createdAt, "YYYYMMDD").fromNow()%></p>
    <form  method="POST" action="/update?_method=PUT"">
      <div class="form-row">
        <div class="col-md-10">
          <input
          type="hidden"
          name="_id"
          value="<%= task._id%>"
        />
        <input
          type="text"
          name="title"
          class="form-control"
          id="taskTitle"
          value="<%= task.title%>"
          placeholder="Insert task"
        />

      </div>
      <div class="col-md-1">

        <input type="checkbox" name="status" <% if (task.status) {  %> checked   <% } %>  >
      </div>
      <div class="col-md-1 text-right">
      <button type="submit" class="btn btn-sm btn-success btn-secondary">Update</button>
    </div>
    </div>
    </form>
  </div>
<div class="col-2">
  <form  method="POST" action="/delete?_method=DELETE"">
    <input
    type="hidden"
    name="_id"
    value="<%= task._id%>"
  />
    <button onclick="return confirm('Are you sure you want to delete this item?');" type="submit" class="btn btn-sm btn-danger btn-secondary">Delete</button>
  </form>
</div>
  </div>
  <div class="spacer sm"></div>
  <% } )%> <%} %>

<%- include('./partials/footer.ejs') %>
