<%- include('./partials/header.ejs') %>
<a class="btn btn-outline-primary" href="/create">New</a>
<div class="row">
  <% if(tasks.length){ %> <% tasks.forEach((task) =>{ %>
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <h4><%=task.title%></h4>
        <p class="card-text">
          <%=task.content%>
        </p>
        <% if(task.tasks && task.tasks.length){ %>
        <ul>
          <% task.tasks.forEach((subTask) =>{ %>
          <li><%=subTask%></li>
          <% } )%>
        </ul>
        <%} else { %>
        <p>No Sub Tasks to show</p>
        <% }%>
      </div>
    </div>
  </div>
  <% } )%> <%} else { %>
  <p>No Tasks to show</p>
  <% }%>
</div>

<%- include('./partials/footer.ejs') %>
