<%- include('../partials/header.ejs') %>
<div class="spacer"></div>
  <form method="POST" action="/tasks/create">
    <div class="form-row">
      <div class="col-md-10">
      <input
        type="text"
        name="title"
        class="form-control"
        id="taskTitle"
        required
        placeholder="New task title"
      />
    </div>
    <div class="col-md-2 text-center">
    <button type="submit" class="btn btn-lg btn-primary">Create</button>
  </div>
  </div>
  </form>
<div class="spacer"></div>
<hr>
<% if(tasks.length){ %> <% tasks.forEach((task) =>{ %>    
  <div task-id="<%=task._id%>"> 

  
  <p class="gray"><%= moment(task.createdAt, "YYYYMMDD").fromNow()%></p>

  <div class="row"  >
    
  <div class="col-10">
    
    <form  method="POST" action="/tasks/update?_method=PUT"">
      <div class="form-row">
        <div class="col-md-10">
          <input
          type="hidden"
          name="_id"
          value="<%= task._id%>"
        />
        <input
          type="text"
          name="title"
          class="form-control"
          id="taskTitle"
          value="<%= task.title%>"
          placeholder="Insert task"
        />

      </div>
      <div class="col-md-1">
        <input type="checkbox" name="status" <% if (task.status) {  %> checked   <% } %>  >
      </div>
      <div class="col-md-1 text-right">
      <button type="submit" class="btn btn-sm btn-success btn-secondary">Update</button>
    </div>
    </div>
    </form>
  </div>
<div class="col-2">
  <button  data-id="<%= task._id%>" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-sm btn-danger btn-secondary btn-delete">Delete</button>
</div>
  </div>
  <div class="spacer sm"></div>
</div>
  <% } )%> <%} %>

<%- include('../partials/footer.ejs') %>
