<%- include('../partials/header.ejs') %>
<div class="spacer"></div>
    <div class="form-row">
      <div class="col-md-10">
      <input
        type="text"
        name="title"
        class="form-control"
        id="taskTitle"
        required
        placeholder="New task title"
      />
    </div>
    <div class="col-md-2 text-center">
    <button type="submit" class="btn btn-primary btn-create">Create</button>
  </div>
  </div>
<div class="spacer"></div>
<hr>


      
  
  <table class="table" id="tasks-table">
    <thead>
      <td></td>
      <td>Task</td>
      <td>Actons</td>
    </thead>
    <tbody>
        
  <% tasks.forEach((task) =>{ %>    
    <form  class="form-inline" method="POST" action="/tasks/update?_method=PUT">
      <tr class="task" task-id="<%=task._id%>">
        <td>
          <input type="checkbox" class="form-control-inline" name="status" <% if (task.status) {  %> checked   <% } %>  >
        </td>
        <td>
          <div class="gray"><%= moment(task.createdAt, "YYYYMMDD").fromNow()%></div>
          <input
          type="hidden"
          name="_id"
          value="<%= task._id%>"
        />

        <input
          type="text"
          name="title"
          class="form-control list-title-edit hidden"
          id="taskTitle"
          value="<%= task.title%>"
          placeholder="Insert task"
        />
        <p class="list-title-view"><%= task.title%></p>
        </td>
        <td>

          <button type="submit" class="btn btn-sm btn-success btn-secondary">Update</button>
          <button  data-id="<%= task._id%>" class="btn btn-sm btn-danger btn-secondary btn-delete">Delete</button>
        </td>

        </tr>

      </form>

  <% } )%>
</tbody>
</table>

<%- include('../partials/footer.ejs') %>
